body {
  height: 3999px;
  background-color: lightblue;
  /* background-image: url(../img/Cartoon-wallpaper-9739638.jpg); */
  /* background-repeat: repeat-x; */
  /* background-position: right top; */
  /* background-attachment: fixed; */
}

/* background color */
.bck-color h1 {
  background-color: blue;
  opacity: 0.5;
}

.bck-color div {
  background-color: tomato;
}

.bck-color p {
  background-color: pink;
}

/* Background Image */
.bck-img {
  height: 599px;
  background-image: url(../img/Cartoon-wallpaper-9739638.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  /* background-attachment: scroll; */
}

/* shorthand */

.bck-shorthand {
  background: #fff url(../img/pic_bulbon.gif) repeat-y fixed top;
}
