body {
  background-image: url(../img/Cartoon-wallpaper-9739638.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
/* background color */
h1 {
  background-color: blue;
  opacity: 0.7;
}

/* shorthand */

.bckimg {
  background: #fff url(../img/pic_bulbon.gif) no-repeat fixed top;
}
