h1 {
  border-style: dashed;
  border-width: 2px;
  border-color: red;
}

p {
  border-style: dashed dotted solid double;
}
.shorthand {
  border: 3px solid blue;
  border-radius: 5px; /*border Rounded*/
}
