/* menentukan warna dapat menggunakan nilai rgb, hex, hsl, grba, hsla */
h1 {
  background-color: rgba(17, 17, 17, 0.8);
  color: #00ffff; /*hex*/
  border: 2px solid red;
}

p {
  background-color: hsl(60, 6%, 10%);
  color: #00ffff;
}
