.inline {
  display: inline;
  background-color: aquamarine;
  border: 1px solid gray;
  height: 99px;
  width: 99px;
}

.inlineblock {
  display: inline-block;
  background-color: aquamarine;
  border: 1px solid gray;
  height: 99px;
  width: 199px;
}
.block {
  display: block;
  background-color: aquamarine;
  border: 1px solid gray;
  height: 99px;
  width: 199px;
}

.navbar {
  background-color: aqua;
  list-style-type: none;
  text-align: center;
  font-family: sans-serif;
}

.navbar li {
  display: inline-block;
  padding: 15px 25px;
  color: black;
}
li a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: aquamarine;
  font-weight: 600;
}
