* {
  font-family: arial;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.satu {
  width: 199px;
  height: 199px;
  text-align: center;
  background-color: black;
}
.dua {
  width: 99px;
  height: 99px;
  background-color: blue;
}
.tiga {
  background-color: brown;
}

header {
  background-color: black;
  border: 2px solid red;
  height: 2rem;
  color: white;
}

header .sosmed a {
  background-color: blue;
  color: white;
  text-align: center;
  padding-left: 9px;
}

header .sosmed a i {
  padding-top: 5px;
}

h1 {
  text-align: center;
  color: black;
}
h3 {
  padding: 11px;
  max-width: 16rem;
  /* margin-bottom: 1rem; */
  background-color: aqua;
  border-left-style: solid;
  border-color: blue;
  border-width: 5px;
  color: black;
  margin: 1rem 3rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
nav {
  /* margin-top: -84px; */
  width: 100%;
  top: 0;
  border: 2px solid rgb(255, 1, 1);
  padding: 5px 0;
  position: sticky; /*position*/
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
nav ul li {
  display: inline;
}

nav a {
  color: rgb(255, 254, 254);
  text-decoration: none;
  padding: 5px;
  text-align: justify;
}
nav a:hover {
  /* color: rgb(105, 105, 248); */
  background-color: rgb(80, 80, 80);
}

/* contoh box Model*/
.formating-html {
  margin: 1rem 3rem;
  border: 2px solid black;
  padding: 5px;
  background-image: url(/img/Cartoon-wallpaper-9739638.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.formating-html h4 ins {
  width: 200px;
  background-color: pink;
  color: black;
  padding: 10px;
  border-left-style: solid;
  border-color: red;
  border-width: 6px;
}
