* {
  font-family: arial;
  color: white;
}
html {
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}
h3 {
  padding: 11px;
  max-width: 25rem;
  /* margin-bottom: 1rem; */
  background-color: aqua;
  border-left-style: solid;
  border-color: blue;
  border-width: 5px;
  color: black;
  margin: 1rem 3rem;
}
nav {
  margin-top: -21px;
  width: 100%;
  right: 0;
  border: 2px solid black;
  padding: 5px 0;
  position: fixed; /*position*/
  text-align: center;
  background-color: black;
}

nav a {
  color: rgb(255, 254, 254);
  text-decoration: none;
  padding: 5px;
  text-align: justify;
}
nav a:hover {
  /* color: rgb(105, 105, 248); */
  background-color: rgb(80, 80, 80);
}

/* contoh box Model*/
.formating-html {
  margin: 1rem 3rem;
  border: 2px solid black;
  padding: 5px;
  background-image: url(/img/Cartoon-wallpaper-9739638.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.formating-html h4 ins {
  width: 200px;
  background-color: pink;
  color: black;
  padding: 10px;
  border-left-style: solid;
  border-color: red;
  border-width: 6px;
}
